@use '../utils/shared' as *;

.navBar{
    background-color: #252525 !important;
    .logo{
        max-width: clamp(130px, 5vw, 186px);
    }
    .navItem{
        font-size: clamp(10px, 1vw, 14px);
        font-weight: 500;
        text-decoration: none;
    }
    .btnNav:hover{
        color: #ffffff;
        background-color: $primary-color;
    }
}