@use '../utils/shared' as *;

.navBar{
  background-color: $bg-main-dark !important;
  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    .logo-mobile {
      width: fit-content;
      height: fit-content;
      max-width: 25%;
      @media only screen and (min-width: 600px) {
        display: none;
      }
    }
  }
  .logo-drawer {
    width: fit-content;
    height: fit-content;
  }
  .logo{
    max-width: clamp(13rem, 5vw, 18.6rem);
  }
  .navItem{
    font-family: 'Roboto';
    font-size: clamp(1rem, 1vw, 1.4rem);
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-decoration: none;
  }
  .btnNav {
    font-weight: 800;
    text-align: center;
    border-radius: 1rem;
    padding: 1.6rem;
    &:hover{
      color: $bg-main;
      background-color: $primary-color;
    }
  }
}

.MuiList-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  .MuiListItem-root {
    .MuiButtonBase-root {
      .MuiListItemText-root {
        .MuiTypography-root {
          font-family: 'Roboto';
          font-size: $fz-subtitle;
          font-weight: 400;
          line-height: 1.6rem;
          letter-spacing: 0em;
          .mobile--nav-link {
            color: $font-dark;
            text-decoration: none;
          }
          .mobile-nav-link--btn {
            color: $primary-color;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
  }
}