@use '../utils/shared' as *;

.ImgHero{
  background-image: url("../../assets/img/hero-section.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 48px);
  display: grid;
  place-items: center;
  .conteinerSlogan{
    text-align: center;
    .slogan{
      color: #ffffff;
      font-family: "Montserrat";
      font-size: clamp(2rem, 4vw, 4rem);
      font-weight: 700;
      line-height: 5rem;
      margin-bottom: 8rem;
      letter-spacing: 0.085em;
    }
    .btnHero{
      background-color: $primary-color;
      color: $bg-main;
      border-radius: 1rem;
      font-family: 'Roboto';
      font-size: $fz-title;
      font-weight: 600;
      line-height: 2.8rem;
      letter-spacing: 0em;
      padding: 1.4rem 2.1rem;
      text-decoration: none;
      text-transform: capitalize;
      &:hover{
        background-color: $hero-btn-hover;
      }
    }
  }
}
