@use '../utils/shared' as *;

.ImgHero{
    background-image: url("../../assets/img/HeroSecImg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 48px);
    display: grid;
    place-items: center;
    .conteinerSlogan{
        text-align: center;
        .slogan{
            color: #ffffff;
            font-weight: 700;
            font-size: clamp(20px, 4vw, 40px);
            font-family: "Montserrat";
        }
    }
}
