.lazy-container {
  min-height: 50vh;
  opacity: 0;
  transition: all .7s ease-in;
}
.left {
  transform: translateX(-300px);
}
.right {
  transform: translateX(300px);
}
.visible {
  opacity: 1;
  transform: translateX(0);
}