/*---- Colors ----*/
$primary-color: #3891E3;
$primary-color-light: #F1F5FF;
$primary-color-dark: #1969B3;

/*---- Background colors ----*/
$bg-main: #FFFFFF;
$bg-main-dark: #252525;

/*---- Footer button ----*/
$footer-btn-bg: #333333;
$footer-btn-hover: #D9D9D9;

/*---- Font colors ----*/
$font-dark: #000000;

/*---- Font sizes ----*/
$fz-title: clamp(2rem, 5vw, 3.6rem);
$fz-subtitle: clamp(1.4rem, 2vw, 2rem);
$fz-text: clamp(0.8rem, 1.5vw, 1.4rem);

/*---- Component colors ----*/
$whatsapp-btn: #25D366;